* {
    background-color: rgb(53, 36, 60);
    color: white;
    font-family: 'Lato', sans-serif;
}

nav{
    font-size: 16px;
}

a{
    color: rgb(233, 183, 183);
    font-weight: bold;
}

input, button {
    background-color: rgb(169, 85, 85);
}

form {
    margin-top: 10px;
}

img {
    width: 40%;
    height: 40%;
}

h4 {
    margin-bottom: -5px;
}

.button {
    background-color: black;
    color: white;
}
.homepage {
    color:black;
    margin: auto;
    text-align: center;
    width: 550px;
}

.displayMsg{
    font-size: 20px;
    color: rgb(130, 206, 236);
}

.img_display{
    margin: 20px;
    width: 40%;
    height: 40%;
}

.img_all {
    margin: 4px;
    width: 40%;
    height: 40%;
}

.img_list{
    list-style: none;
}
.deleteMessage {
    color:violet;
}

.signup {
    font-size: 14px;
}

#user_msg {
    width: 500px;
}