* {
    background-color: rgb(45, 44, 44);
    color: white;
    font-family: 'Lato', sans-serif;
}

a{
    color: rgb(233, 183, 183);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input, button {
    background-color: rgb(255, 255, 255);
    color: black;
}

form {
    margin-top: 10px;
}

img {
    width: 50%;
    height: 50%;
}

h4 {
    margin-bottom: -5px;
}

li {
    display: inline;
}

.homepage {
    margin: auto;
    text-align: center;
    width: 550px;
}

.displayMsg{
    font-size: 18px;
    color: rgb(205, 236, 249);
    margin-right: 300px;
}

.img_display{
    margin: 20px;
    width: 50%;
    height: 50%;
}

.img_all, .deleteImg{
    margin: 5px;
    width: 50%;
    height: 50%;
}

.img_list{
    list-style: none;
}

.signup {
    text-decoration: underline;
    font-size: 14px;
}

.navBar {
    list-style: none;
    padding: 2px;
}

#user_msg {
    width: 500px;
}