{% extends "base.html" %}

{% block body %}

{% if session["username"] == "Galit" %}

<form method="POST" action="/api/image/edit/{{ image['id'] }}">
    <label for="img_url">Edit image:</label>
    <input hidden name="id" value="{{ image['id'] }}">
    <input id="img_url" name="img_url" value="{{ image['img_url'] }}" required />
    <input id="text_desc" name="text_desc" value="{{ image['text_desc'] }}" required />
    <input id="img_year" name="img_year" value="{{ image['img_year'] }}" required />
    <input type="submit">
</form>

{% else %}
<h3>Error</h3>
<p>Please make sure the correct user is logged in</p>

{% endif %}

{% endblock %}