{% extends "base.html" %}
{% block body %}
<div class="homepage">
    {% if session["username"] == "Ziva" %}
    <h2>
        Ziva, wishing you a very happy Mother's Day! For everything you have always done for me,
        I decided to dedicate my second project to you. You are the glue that holds us together and your tireless efforts never go unnoticed.
    </h2>
    <img src="https://i.ibb.co/djpvcjf/IMG-4407.jpg">
    <br />
    <a href="https://gal333t.github.io/Project-One/" target="_blank">Click me for a fun surprise</a>
    {% elif session["username"] == "Hannah" %}
    <h2>I know this is for Ziva, but wishing you a very happy first Mother's Day. Aurie is so lucky to have the most
        wonderful mum ❤️</h2>
    <img src="https://i.ibb.co/y8W259S/bcfa7976-45ee-4d0e-8e5c-4eb292684a48.jpg">
    {% else %}
    <h2>
        Select from the menu what you would like to do
    </h2>
    {% endif %}
</div>
{% endblock %}