{% extends "base.html" %}

{% block body %}

<form method="POST" action="/img-display">
    <label for="img_year">Pick a year to search for:</label>
    <input id="img_year" name="img_year" required />
    <input type="submit">
</form>

{% if session["username"] == "Ziva" %}
<form action="/img-all">
    <button type="submit">See all photos</button>
</form>
{% endif %}

{% if session["username"] == "Galit" %}
<form action="/img-all">
    <button type="submit" formaction="/add-image">Add photos</button>
</form>
{% endif %}

{% endblock %}