{% extends "base.html" %}
{% block body %}

{% if session["username"] != "Ziva" %}
<nav class="messageNav">
    <ul>
        <li><a href="/forms/messages/add">Add messages</a></li>
        <li><a href="/forms/messages/edit/{{ username }}">Edit messages</a></li>
        <li><a href="/forms/messages/delete/{{ username }}">Delete messages</a></li>
    </ul>
</nav>
{% endif %}

<div>
    {% if session["username"] == "Ziva" %}
    <h2>Some messages from your children:</h2>
    {% else %}
    <h2>From {{ session["username"] }}:</h2>
    {% endif %}
    {% for message in messages %}
    {% if session["username"] == "Ziva" %}
    <p class="displayMsg">{{ message["user_msg"] }} - <em>{{ message["username"] }}</em></p>
    {% elif session["username"] == message["username"] %}
    <p class="displayMsg"> {{ message["user_msg"] }}</p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}