{% extends "base.html" %}

{% block head %}
{% if session["username"] != "Ziva" %}
<li><a href="/forms/messages/add">| Add messages</a></li>
<li><a href="/forms/messages/edit/{{ username }}">Edit messages</a></li>
<li><a href="/forms/messages/delete/{{ username }}">Delete messages</a></li>
{% endif %}
{% endblock %}
{% block body %}
<div>
    {% if session["username"] == "Ziva" %}
    <h3>Some messages from your children:</h3>
    {% else %}
    <h3>Your messages:</h3>
    {% endif %}
    {% for message in messages %}
    {% if session["username"] == "Ziva" %}
    <p class="displayMsg">{{ message["user_msg"] }} - <em>{{ message["username"] }}</em></p>
    {% elif session["username"] == message["username"] %}
    <p class="displayMsg"> {{ message["user_msg"] }}</p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}